<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/styles/swiper-bundle.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ name }}</title>
    <script src="https://kit.fontawesome.com/1690528c5b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="/">
                    <img src="./static/img/logo.svg" class="nav-logo"/>
                </a>
                <ul id="sidemenu">
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#experience">Work Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="/hobbies">Hobbies</a></li>
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>

            <div class="header-text">
                <div class="text-content">
                    <p>Honors Computer Science Student</p>
                    <h1>Hi, I'm <span>{{ name }}</span> <br> from {{ location }}</h1>
                </div>
                <div class="image-container">
                    <img src="./static/img/headshot1.jpg" alt="PROFILE_PICTURE">
                </div>
            </div>
        </div>
    </header>

    <!-----------About Me----------->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="./static/img/headshot2.jpg">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <br>
                    <p>
                        Hi there! I'm an honors computer science student at the <a href="https://www.udel.edu" target="_blank" style="color: #bdbdbd;">University of Delaware</a>.
                        <br class="about-br">
                        I love to explore the endless world of possibilties unlocked through computer science and look forward to making meaningful impacts through programming.
                        <br class="about-br">
                        Currently, I'm especially interested in software engineering and I have gained a broad range of valuable technical experience.
                    </p>
                    
                    <!--We can change these tabs to be other categories, like fun facts, coursework, etc-->
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('education')"><i class="fa-solid fa-graduation-cap"></i> Education</p>
                        <p class="tab-links" onclick="opentab('achievements')"><i class="fa-solid fa-trophy"></i> Achievements</p>
                        <p class="tab-links" onclick="opentab('funfacts')"><i class="fa-solid fa-bolt"></i> Fun Facts</p>
                    </div>
                    <div class="tab-contents active-tab" id="education">
                        <ul>
                            <div class="education-content">
                                <img src="../static/img/UD-logo.png" alt="University of Delaware Logo" style="height:85px">
                                <li>
                                    <h2>University of Delaware</h2>
                                    <span>2021 - 2025</span><br>
                                    <div style="color: white;">Honors B.S. Computer Science</div>
                                    <p>Focus: Software Engineering & Artificial Intelligence</p>
                                </li>
                            </div>
                            <div class="education-content">
                                <img src="../static/img/conrad-logo.png" alt="Conrad Schools of Science Logo" style="height:85px">
                                <li>
                                    <h2>Conrad Schools of Science</h2>
                                    <span>2017 - 2021</span><br>
                                    <div style="color: white;">High School Diploma</div>
                                    <p>Career Pathway: Computer Science</p>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="tab-contents" id="achievements">
                        <ul>
                            <li><span>2021 - Current</span> <br> B. Bradford Barnes Memorial Scholarship (Full Ride)</li>
                            <li><span>2021 - Current</span> <br> University of Delaware Trustee Scholarship</li>
                            <li><span>2021</span> <br> Edward Malin Memorial Scholarship</li>
                            <li><span>2016 - 2020</span> <br> Carson Scholarship</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="funfacts">
                        <ul>
                            <li><span>■</span> I've moved 7 times so far</li>
                            <li><span>■</span> I started coding when I was in middle school</li>
                            <li><span>■</span> I'm an only child and have never had any pets</li>
                            <li><span>■</span> I've gone parasailing and can't wait to do it again</li>
                            <li><span>■</span> I created this website during my MLH Fellowship</li>
                            <li><span>■</span> I will almost never say no to ice cream</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-----------Skills----------->
    <div id="skills">
        <div class="container">
            <h1 class="sub-title">My Skills</h1>
            <div class="skills-content">
                <img src="../static/img/python.png" alt="Python">
                <img src="../static/img/java.png" alt="Java">
                <img src="../static/img/cplusplus.png" alt="C/C++">
                <img src="../static/img/javascript.png" alt="JavaScript">
                <img src="../static/img/html.png" alt="HTML">
                <img src="../static/img/css.png" alt="CSS">
                <img src="../static/img/react.png" alt="React">
                <img src="../static/img/typescript.png" alt="TypeScript">
                <img src="../static/img/assembly.png" alt="Assembly">
                <img src="../static/img/scripting.png" alt="Bash-shell Script / Command Line">
                <img src="../static/img/git.png" alt="Git">
                <img src="../static/img/github.png" alt="GitHub">
                <img src="../static/img/unity.png" alt="Unity">
                <img src="../static/img/flask.png" alt="Flask">
                <img src="../static/img/sql.png" alt="SQL">
            </div>
        </div>
    </div>

    <!-----------Experience----------->
    <!-- link your resume, linkedin, github and add your email in the card-->
    <!-- If you add an experience, add CSS code for its animation delay -->
    <div id="experience">
        <div class="container">
            <h1 class="sub-title">My Experience</h1>
            <div class="divider">
                <div class="col experiences">
                    <div class="experience-content" style="padding-top: 50px;">
                        <img src="../static/img/chase-logo.png" alt="">
                        <div class="text-block">
                            <h2>Software Engineer Intern</h2>
                            <h3>JPMorgan Chase & Co.</h3>
                            <p>June 2024 - Present</p>
                            <ul>
                                <li>Work within the Corporate Technology LOB to support the needs of Consumer Banking teams, delivering crucial decision-making insights through an online analytical processing (OLAP) tool to enhance profitability.</li>
                                <li>Develop specialized multi-dimensional datasets used for key data metric modeling and financial forecasting, enabling the CFO/senior executives to monitor business performance and identify strategic opportunities.</li>
                                <li>Assist in migrating data to the cloud, leveraging SQL and PySpark to generate multiple on-cloud reporting tables.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-content">
                        <img src="../static/img/codeninjas-logo.png" alt="">
                        <div class="text-block">
                            <h2>Code Sensei/Tutor</h2>
                            <h3>Code Ninjas</h3>
                            <p>June 2023 - Present</p>
                            <ul>
                                <li>Deliver engaging and interactive coding sessions to 30+ children ages 7-15, focusing on JavaScript, Unity, game development, and other relevant technologies.</li>
                                <li>Create a positive and safe learning environment where students can develop their coding, math, logic, and problem-solving skills.</li>
                                <li>Provide feedback to parents on their child's progress and achievements during demos and sessions.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-content">
                        <img src="../static/img/biocurie-logo.png" alt="">
                        <div class="text-block">
                            <h2>Computer Programming & Software Development Intern</h2>
                            <h3>BioCurie, Inc.</h3>
                            <p>March 2023 - September 2023</p>
                            <ul>
                                <li>Collaborated closely with the CEO and Chief Scientist to develop a first-in-class commercial software product for cell and gene therapy production, streamlining the process of delivering life-saving therapies to patients.</li>
                                <li>Decreased development time by 30% for all programming teams by transitioning from Matlab to Python.</li>
                                <li>Led the development of a user-centric web application, achieving a 75% advancement in overall functionality by implementing dynamic visualizations, robust file uploads/transfers, client-server communication, and a PostgreSQL database for record-keeping.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-content">
                        <img src="../static/img/mlh-logo.png" alt="">
                        <div class="text-block">
                            <h2>Production Engineering Fellow</h2>
                            <h3>Major League Hacking</h3>
                            <p>June 2023 - September 2023</p>
                            <ul>
                                <li>Created this personal portfolio website using Python, Flask, Jinja, MySQL, Docker, NGINX, and unittest to gain the practical skills needed to efficiently build and manage a production infrastructure.</li>
                                <li>Established a CI/CD pipeline with Bash scripts, Docker, and GitHub workflows for automated testing and deployment, reducing development time by 25%.</li>
                                <li>Implemented system and container monitoring, alerting, and visualization using Prometheus and Grafana, reducing system downtime by 20% and improving response times by 35%.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-content">
                        <img src="../static/img/udelsensify-logo.png" alt="">
                        <div class="text-block">
                            <h2>Sensify Lab Undergraduate Researcher</h2>
                            <h3>Sensify Lab | University of Delaware</h3>
                            <p> January 2023 - May 2023</p>
                            <ul>
                                <li>Developed procedural generation techniques and deep learning models to rapidly generate compelling and dynamic characters for game development using Python and C#.</li>
                                <li>Leveraged scikit-learn for training and testing to evaluate the accuracy of character generation from text descriptions.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-content">
                        <img src="../static/img/vcu-logo.png" alt="">
                        <div class="text-block">
                            <h2>Undergraduate Research Intern</h2>
                            <h3>Virginia Commonwealth University</h3>
                            <p>May 2022 - August 2022</p>
                            <ul>
                                <li>Created an automated testing tool for domain-specific chatbots to refine and augment the training set using semantic clustering and a paraphrasing model, enhancing the chatbot’s ability to correctly classify intents by 5%.</li>
                                <li>Crafted and optimized Python scripts to evaluate the performance of natural-language understanding models.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="sticky-helper">
                        <div class="info-card">
                            <p style="padding-bottom: 10px">
                                More detailed info about my experience!
                            </p>
                            <a class="button button-block" href="https://drive.google.com/file/d/1rpHGrWu_zvlHnHCasqmEPncNSs_me4Hs/view?usp=sharing" target="_blank">
                                <span class="fa fa-file-alt"></span> Resumé
                            </a>
                            <a class="button button-block" href="https://www.linkedin.com/in/aparna-roy1/" target="_blank">
                                <span class="fab fa-linkedin"></span> LinkedIn
                            </a>
                            <a class="button button-block" href="https://github.com/aparnaroy" target="_blank">
                                <span class="fab fa-github"></span> GitHub
                            </a>
                            <p>
                                If you want to know more, email me at
                                <a href="mailto:aparnar@udel.edu" style="color: #4dc4d6; text-decoration: none">aparnar@udel.edu</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-----------Projects----------->
    <div id="projects">
        <div class="container">
            <h1 class="sub-title">My Projects</h1>
            <div class="projects-list container swiper-container">
                <div class="swiper-wrapper">
                    <div class="project-content swiper-slide">
                        <img src="../static/img/StackPackJourney.png" alt="StackPack Journey Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">StackPack Journey</h3>
                            <div class="project-skills"><b>Skills:</b> React, Typescript, Phaser, GitHub</div>
                            <p class="project-description">
                                A puzzle-platform game designed to teach players about the stack data structure and its Last-In-First-Out (LIFO) principle, featuring vibrant graphics, immersive sound effects/music, and a captivating storyline. Equipped with a StackPack, players must strategically push and pop items to overcome obstacles and reunite with their soulmate.
                            </p>
                            <a href="https://ud-s24-cisc374.github.io/final-project-yellow/" target="_blank" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                            <a href="https://github.com/UD-S24-CISC374/final-project-yellow" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="../static/img/TalkToTheHand.png" alt="Talk to the Hand Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Talk to the Hand</h3>
                            <div class="project-skills"><b>Skills:</b> React, Typescript, HTML, CSS, Chakra-UI, Web Speech API, GitHub</div>
                            <p class="project-description">
                                Talk to the Hand is a website dedicated to bridging the gap between the hearing and signing world. It has a live text-to-ASL feature that translates speech/text to ASL and an ASL learning hub for people who want to learn ASL. This project won 1st place at UD's 2024 HenHacks hackathon for the best LabWare Connections Hack!
                            </p>
                            <a href="https://beniabra.github.io/TalkToTheHand/" target="_blank" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                            <a href="https://github.com/beniabra/TalkToTheHand" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="../static/img/PlanetGarden.png" alt="Planet Garden Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Planet Garden</h3>
                            <div class="project-skills"><b>Skills:</b> React, Typescript, HTML, CSS, GitHub</div>
                            <p class="project-description">
                                A shopping website made in an Agile team of 5 that has 3 levels of permission: the Users can shop for products and make changes to their carts, the CEO can manage the various products available and users of the website, and the Admin can make edits to existing products.
                            </p>
                            <a href="https://aparnaroy.github.io/Team15-PlanetGarden/" target="_blank" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                            <a href="https://github.com/aparnaroy/Team15-PlanetGarden" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="../static/img/GoLocal.png" alt="Go Local Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Go Local</h3>
                            <div class="project-skills"><b>Skills:</b> React, Typescript, HTML, CSS, BotPress, GitHub</div>
                            <p class="project-description">
                                A website submitted as a hack during the HenHacks hackathon. Facilitates communication between small Delaware businesses and their communities, promoting a culture of belonging and encouraging the sharing of businesses in an inclusive platform. Includes a chatbot to assist users with website navigation.
                            </p>
                            <a href="https://aparnaroy.github.io/GoLocal-HenHacks/" target="_blank" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                            <a href="https://github.com/aparnaroy/GoLocal-HenHacks" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="../static/img/Munch-ease.png" alt="Munch-ease Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Munch-ease</h3>
                            <div class="project-skills"><b>Skills:</b> Java, GitHub</div>
                            <p class="project-description">
                                A web application created as a hack during Technica. Allows users to plan their meals and creates a cumulative grocery list for the week, helping users budget better when grocery shopping.
                            </p>
                            <a href="https://github.com/aparnaroy/Munch-ease" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="../static/img/BinaryClock.png" alt="Binary Clock Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Binary Clock</h3>
                            <div class="project-skills"><b>Skills:</b> C, Scripting, Unix, Command Line</div>
                            <p class="project-description">
                                A program that displays a clock with time values represented in binary on the Unix operating system using shell scripts. Toggles between 24-hour and 12-hour displays when given OS signals.
                            </p>
                            <a href="https://github.com/aparnaroy/Binary-Clock" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="../static/img/ChessBattle.png" alt="Chess Battle Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Chess Battle</h3>
                            <div class="project-skills"><b>Skills:</b> Java, IntelliJ</div>
                            <p class="project-description">
                                A chess-like board game that utilizes major concepts of object-oriented programming. Consists of 5 types of actions and 6 different game pieces which each have individual attributes.
                            </p>
                            <a href="https://github.com/aparnaroy/Chess-Battle" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="../static/img/UProductivity.png" alt="UProductivity Image" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">UProductivity</h3>
                            <div class="project-skills"><b>Skills:</b> Python, Anvil</div>
                            <p class="project-description">
                                A web application with an interactive user interface that helps college students create 4-year plans based on their majors, accounting for various requirements.
                            </p>
                            <a href="https://b3qqasd6zugq5dbr.anvil.app/IWM5XPRVFHD4PZ5NTKQST6AR" target="_blank" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                            <a href="https://github.com/aparnaroy/UProductivity" target="_blank" class="button button--flex button--small project-button">
                                GitHub
                                <i class="fa-brands fa-github button-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Arrows & Pagination -->
                <div class="swiper-button-next">
                    <i class="fa-solid fa-chevron-right swiper-project-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="fa-solid fa-chevron-left swiper-project-icon"></i>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>


    <!-----------Interests----------->
    <div id="interests">
        <div class="container">
            <h1 class="sub-title">My Interests</h1>
            <div class="interests-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Software Engineering</h2>
                    <p>I love SWE because it combines logical problem-solving with creative innovation, allowing me to craft solutions that improve everyday lives.</p>
                </div>
                <div>
                    <i class="fa-solid fa-microchip"></i>
                    <h2>Artificial Intelligence</h2>
                    <p>I'm fascinated by AI because it unlocks vast possibilities. I am especially interested in in the evolving realm of human-computer interactions.</p>
                </div>
                <div>
                    <i class="fa-solid fa-desktop"></i>
                    <h2>Web Development</h2>
                    <p>Web development is empowering as it offers a direct avenue to connect with and impact the end-user, translating code into tangible experiences.</p>
                </div>
            </div>
        </div>
    </div>

    <!-----------Contact----------->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fas fa-envelope"></i> <a href="mailto:aparnar@udel.edu" style="color: white; text-decoration: none">aparnar@udel.edu</a></p>
                    <p><i class="fas fa-paper-plane"></i> <a href="mailto:aparnar@udel.edu" style="color: white; text-decoration: none">deviroy2@gmail.com</a></p>
                    <div class="social-icons">
                        <!--<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>-->
                        <a href="https://www.linkedin.com/in/aparna-roy1/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/aparnaroy" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="contact-right">
                   <form name="submit-to-google-sheet">
                       <input type="text" name="Name" placeholder="Your Name" required>
                       <input type="email" name="Email" placeholder="Your Email" required>
                       <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                       <button type="submit" class="btn">Submit</button>
                   </form>
                   <span id="msg"> </span>
                </div>
            </div>
        </div>
    </div>

    <!-----------Footer----------->
    <div class="footer">
        <p>Made by {{ name }} <i class="fa-solid fa-heart"></i></p>
    </div>

<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname) {
        for (tablink of tablinks) {
            tablink.classList.remove("active-link")
        }

        for (tabcontent of tabcontents) {
            tabcontent.classList.remove("active-tab")
        }

        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>

<script>
    var sidemenu = document.getElementById("sidemenu");

    function openmenu() {
        sidemenu.style.right = "0";
    }

    function closemenu() {
        sidemenu.style.right = "-200px";
    }
</script>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbxE6kt2MP_clKxLi5p7QChubnzLGu2bqQ8Zzbv3hNlp_iWT_0su3FwViAfSGidkSnY_8g/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById('msg')
        form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Message sent successfully!"
            setTimeout(function() {
                msg.innerHTML = ""
            }, 5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
</script>

<!-- Swiper JS -->
<script src="../static/swiper-bundle.min.js"></script>

<script>
    let swiper = new Swiper(".projects-list", {
      cssMode: true,
      loop: true,

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
</script>

</body>
</html>
