<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/styles/swiper-bundle.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ name }}'s Portfolio</title>
    <script src="https://kit.fontawesome.com/1690528c5b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="/">
                    <img src="./static/img/logo.svg" class="nav-logo"/>
                </a>
                <ul id="sidemenu">
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#experience">Work Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="/hobbies">Hobbies</a></li>
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>

            <div class="header-text">
                <div class="text-content">
                    <p>Honors Computer Science Student</p>
                    <h1>Hi, I'm <span>{{ name }}</span> <br> from {{ location }}</h1>
                </div>
                <div class="image-container">
                    <img src="./static/img/headshot1.jpg" alt="PROFILE_PICTURE">
                </div>
            </div>
        </div>
    </header>

    <!-----------About Me----------->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="./static/img/headshot2.jpg">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <br>
                    <p>
                        Hi there! I'm a student pursuing a Bachelor of Science in computer science at the <a href="https://www.udel.edu" target="_blank" style="color: #bdbdbd;">University of Delaware</a> with a focus in software engineering and artificial intelligence.
                        <br class="about-br">
                        I love to explore the endless world of possibilties unlocked through computer science and look forward to making meaningful impacts through programming.
                        <br class="about-br">
                        Currently I'm especially interested in software engineering and I have gained a broad range of valuable technical experience.
                    </p>
                    
                    <!--We can change these tabs to be other categories, like fun facts, coursework, etc-->
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                        <p class="tab-links" onclick="opentab('achievements')">Achievements</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Skill 1</span> <br> Description for Skill 1</li>
                            <li><span>Skill 2</span> <br> Description for Skill 2</li>
                            <li><span>Skill 3</span> <br> Description for Skill 3</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2021 - 2025</span> <br> University of Delaware</li>
                            <li><span>2017 - 2021</span> <br> Conrad Schools of Science</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="achievements">
                        <ul>
                            <li><span>2021 - Current</span> <br> B. Bradford Barnes Memorial Scholarship Recipient</li>
                            <li><span>2019 - 2021</span> <br> Description for Achievement 2</li>
                            <li><span>2017 - 2018</span> <br> Description for Achievement 3</li>
                            <li><span>2015 - 2017</span> <br> Description for Achievement 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-----------Experience----------->
    <!-- link your resume, linkedin, github and add your email in the card-->
    <div id="experience">
        <div class="container">
            <h1 class="sub-title">My Experience</h1>
            <div class="divider">
                <div class="col">
                    <div style="padding-top: 50px">
                        <h2 style="color: #4dc4d6; padding-bottom: 10px">Production Engineering Fellow</h2>
                        <p style="color: #e8e7e7; font-size: 17px;">
                            Develop dynamic projects to gain the practical skills needed to efficiently build and manage a production infrastructure, including experience with Docker, Kubernetes, and scripting.
                        </p>
                    </div>
                    <div style="padding-top: 40px">
                        <h2 style="color: #4dc4d6; padding-bottom: 10px">Computer Programming & Software Development Intern</h2>
                        <p style="color: #e8e7e7; font-size: 17px;">
                            Collaborate closely with the CEO and Chief Scientist to develop a first-in-class commercial software product for cell and gene therapy production, streamlining the process of delivering life-saving therapies to patients.
                            <br>
                            Create a functioning, user-friendly, and visually appealing graphical user interface for end-users.                            
                        </p>
                    </div>
                    <div style="padding-top: 40px">
                        <h2 style="color: #4dc4d6; padding-bottom: 10px">Code Sensei</h2>
                        <p style="color: #e8e7e7; font-size: 17px;">
                            Deliver engaging and interactive coding sessions to children, focusing on JavaScript, game development, and other relevant technologies.
                            <br>
                            Create a positive and safe learning environment where students can develop their coding, math, logic, and problem-solving skills.
                            <br>
                            Provide feedback to parents on their child's progress and achievements during demos and sessions.
                        </p>
                    </div>
                    <div style="padding-top: 40px">
                        <h2 style="color: #4dc4d6; padding-bottom: 10px">Sensify Lab Undergraduate Researcher</h2>
                        <p style="color: #e8e7e7; font-size: 17px;">
                            Develop procedural generation techniques and deep learning models to rapidly generate compelling and dynamic characters for game development using Python and C#.
                        </p>
                    </div>
                    <div style="padding-top: 40px">
                        <h2 style="color: #4dc4d6; padding-bottom: 10px">Undergraduate Research Intern</h2>
                        <p style="color: #e8e7e7; font-size: 17px;">
                            Created an automated testing tool for domain-specific chatbots to refine and augment the training set using semantic clustering and a paraphrasing model to enhance the chatbot’s ability to correctly classify intents.
                            <br>
                            Wrote and manipulated Python code to test natural-language understanding models.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="sticky-helper">
                        <div class="info-card">
                            <p style="padding-bottom: 10px">
                                More detailed info about my experience!
                            </p>
                            <a class="button button-block" href="https://drive.google.com/file/d/1bFmOUWTwtcU03xe8QMQi9HkZiQbTaOHT/view?usp=sharing" target="_blank">
                                <span class="fa fa-file-alt"></span> Resumé
                            </a>
                            <a class="button button-block" href="https://www.linkedin.com/in/aparna-roy1/" target="_blank">
                                <span class="fab fa-linkedin"></span> LinkedIn
                            </a>
                            <a class="button button-block" href="https://github.com/aparnaroy" target="_blank">
                                <span class="fab fa-github"></span> GitHub
                            </a>
                            <p>
                                If you want to know more, email me at
                                <a href="mailto:aparnar@udel.edu" style="color: #4dc4d6; text-decoration: none">aparnar@udel.edu</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-----------Projects----------->
    <!--Change the github repository links to your project repo links-->
    <div id="projects">
        <div class="container">
            <h1 class="sub-title">My Projects</h1>
            <div class="projects-list container swiper-container">
                <div class="swiper-wrapper">
                    <div class="project-content swiper-slide">
                        <img src="./static/img/headshot2.jpg" alt="" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Planet Garden</h3>
                            <p class="project-description">
                                A shopping website made in an Agile team of 5 with React Typescript, HTML, and CSS that has 3 levels of permission: users can shop for products and make changes to their carts, the CEO can manage the various products available and users of the website, and the admin can make edits to existing products.
                            </p>
                            <a href="#" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="./static/img/headshot2.jpg" alt="" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Binary Clock</h3>
                            <p class="project-description">
                                A C program that displays a clock with time values represented in binary on the Unix operating system using shell scripts. Toggles between 24-hour and 12-hour displays when given OS signals.
                            </p>
                            <a href="#" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-content swiper-slide">
                        <img src="./static/img/headshot2.jpg" alt="" class="project-img">

                        <div class="project-data">
                            <h3 class="project-title">Chess Battle</h3>
                            <p class="project-description">
                                A Java-based chess-like board game that utilizes major concepts of object-oriented programming. Consists of 5 types of actions and 6 different game pieces which each have individual attributes.
                            </p>
                            <a href="#" class="button button--flex button--small project-button">
                                Demo
                                <i class="fa-solid fa-arrow-up-right-from-square button-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <i class="fa-solid fa-chevron-right swiper-project-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="fa-solid fa-chevron-left swiper-project-icon"></i>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <!--<iframe src="{{ url_for('bootstrap_content') }}" width="100%" height="500" frameborder="0"></iframe>-->

    <!-----------Interests----------->
    <div id="interests">
        <div class="container">
            <h1 class="sub-title">My Interests</h1>
            <div class="interests-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Software Engineering</h2>
                    <p>I love software engineering.</p>
                    <a href="https://github.com/aparnaroy/Team15-PlanetGarden" target="_blank"><i class="fa-brands fa-github"></i> GitHub Repository</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop-simple"></i>
                    <h2>Artificial Intelligence</h2>
                    <p>AI is the talk of the town now, isn't it!</p>
                    <a href="https://github.com/aparnaroy/Binary-Clock" target="_blank"><i class="fa-brands fa-github"></i> GitHub Repository</a>
                </div>
                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>Web Development</h2>
                    <p>So fun!</p>
                    <a href="https://github.com/aparnaroy/Chess-Battle" target="_blank"><i class="fa-brands fa-github"></i> GitHub Repository</a>
                </div>
            </div>
        </div>
    </div>

    <!-----------Contact----------->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fas fa-envelope"></i> <a href="mailto:aparnar@udel.edu" style="color: white; text-decoration: none">aparnar@udel.edu</a></p>
                    <p><i class="fas fa-paper-plane"></i> <a href="mailto:aparnar@udel.edu" style="color: white; text-decoration: none">deviroy2@gmail.com</a></p>
                    <div class="social-icons">
                        <!--<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>-->
                        <a href="https://www.linkedin.com/in/aparna-roy1/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/aparnaroy" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="contact-right">
                   <form name="submit-to-google-sheet">
                       <input type="text" name="Name" placeholder="Your Name" required>
                       <input type="email" name="Email" placeholder="Your Email" required>
                       <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                       <button type="submit" class="btn">Submit</button>
                   </form>
                   <span id="msg"> </span>
                </div>
            </div>
        </div>
    </div>

    <!-----------Footer----------->
    <div class="footer">
        <p>Made by {{ name }} <i class="fa-solid fa-heart"></i></p>
    </div>

<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname) {
        for (tablink of tablinks) {
            tablink.classList.remove("active-link")
        }

        for (tabcontent of tabcontents) {
            tabcontent.classList.remove("active-tab")
        }

        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>

<script>
    var sidemenu = document.getElementById("sidemenu");

    function openmenu() {
        sidemenu.style.right = "0";
    }

    function closemenu() {
        sidemenu.style.right = "-200px";
    }
</script>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbxE6kt2MP_clKxLi5p7QChubnzLGu2bqQ8Zzbv3hNlp_iWT_0su3FwViAfSGidkSnY_8g/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById('msg')
        form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Message sent successfully!"
            setTimeout(function() {
                msg.innerHTML = ""
            }, 5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
</script>

<!-- Swiper JS -->
<script src="../static/swiper-bundle.min.js"></script>

<script>
    let swiper = new Swiper(".projects-list", {
      cssMode: true,
      loop: true,

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
</script>

</body>
</html>
